<h2>Your Favorites</h2>

<% current_user.categories.each do |category| %>
  <h3><%= category.name %></h3>
  <% current_user.gifs.each_with_index do |gif, index| %>
    <% if gif.category.name == category.name %>
      <div class="index_images">
        <img src="<%= gif.url %>">
        <%= link_to "Remove Favorite", favorite_path(Favorite.find_by(user_id: current_user.id, gif_id: gif.id).id), method: :delete, id: "#{index+1}-delete" %>
      </div>
    <% end %>
  <% end %>
<% end %>
