<h2>Your Favorites</h2>

<% current_user.categories.uniq.each do |category| %>
  <h3 class="clearfix" ><%= category.name %></h3>
  <% current_user.gifs.each_with_index do |gif, index| %>
    <% if gif.category.name == category.name %>
      <div class="index-images">
        <img src="<%= gif.url %>">
        <div class="remove-link">
          <%= link_to "Remove Favorite", favorite_path(Favorite.find_by(user_id: current_user.id, gif_id: gif.id).id), method: :delete, id: "#{index+1}-delete" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
